div {
  height: 200px;
  width: 200px;
  padding: 50px;
  border: 5px solid black ;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}


#third-div {
    background-color: green;
    height: 10px;
    box-sizing: border-box;
}

#third-div > p {
  overflow: hidden;
  width: 90px;
}


p {
  background-color: #7fdbff;
}
